# Entorno virtual y Python
venv/
.venv/
__pycache__/
*.pyc

# Archivos de entorno y credenciales
.env

# Configuración del editor
.vscode/
.idea/

# Datos o volúmenes locales
*.db
*.sqlite3
postgres_data/